page-main {

}

.main__background {
  background-image: url('../assets/mountain.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-title {
  text-align: center;
  vertical-align: middle;
}

.main-title__img {
  vertical-align: middle;
}

.main__tusovka {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 0;
  left: calc(100% - 100px);
}
